<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/eb02b6f4-a01f-4f1c-b890-2209df3aa2cf/resourceGroups/rg-puzzle/providers/Microsoft.ContainerRegistry/registries/crge03</ResourceId>
    <ResourceName>crge03</ResourceName>
    <ResourceGroup>rg-puzzle</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>crge03.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>c8452311-6586-4dda-bb7e-9aed91021fed</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>